# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
langchain_env/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Custom folders and files
trilogyTIESimages/
imageUpload.py
jsonExtraction.py
mongoUpload.py
mongoDeleteAll.py
imageUpload.py
createAiJson.py


# Ignore Zendesk documentation folder
zendesk_docs_20250422_115533/
